{% extends "base.html" %} 

{% block title %}Contact Us{% endblock %}

{% block content %}

    <h1>Send Us A Message!</h1>

    <!--need to connect form action to a Flask route once that's merged, 
            collect fname, lname, and email and commit to db ? -->

    <!--we probably need an API to send this message to whatever email we want-->
            
    <form action="/send-contact-msg" method="POST">
      
        <label for="fname">First Name</label>
        <input required type="text" name="fname" id="fname">

        <label for="lname">Last Name</label>
        <input required type="text" name="lname" id="lname">

        <label for="email">Email</label>
        <input required type="text" name="email" id="email" placeholder="name@example.com">
        
        <label for="message">Message</label>
        <textarea rows="10" cols = "20" name="message" id="message" placeholder="Write your message here!">

        <button type="submit">Send Message</button>

    </form>
    
{% endblock %}
