{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row text-center">
        <h1>About Us</h1>
    </div>
    <div class="row">
        <div class="col text-center">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe width="560" height="315" class="embed-responsive-item"
                    src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row dark-container">
        <div class="container inner-container">
            <div class="row text-center dark-row">
                <div class="col">
                    <h1>Mission</h1>
                </div>
                <div class="col">
                    <h1>Values</h1>
                </div>
                <div class="col">
                    <h1>Goal</h1>
                </div>
            </div>
            <div class="row dark-row">
                <div class="col">
                    <p>
                        Re-imagining the civic engagement experience that provides a safe, non-judgmental, and uncomplicated space for community residents and leaders to heal collectively.
                    </p>
                </div>
                <div class="col">
                    <p>
                        Inclusion - Fostering communities where we all have to win. No more excuses.
                    </p>
                    <p>
                        Equity - Putting an inflection point on the cultural mix that invests first in collective healing so no one is left behind.
                    </p>
                    <p>
                        Transparency - Using human dignity as our moral compass to walk the talk.
                    </p>
                </div>
                <div class="col">
                    <p>
                        To transform the way communities come together.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid off-white-container">
    <div class="row">
        <div class="container inner-container">
            <div class="row">
                <div class="col">
                    <img class="img-fluid" src="{{ url_for('static', filename='map.jpeg') }}" alt="picture of person">
                </div>
                <div class="col">
                    <h2>About Co-Creation Nation</h2>
                    <p>
                        Co-Creation Nation, a project of Nxt Wave Founders, is an idea awarded by the 2021 Eductation (RE) Open Challenge sponsored by the University of Southern California Center EDGE program, the Andrew Nikou Foundation, and Open-Ideo.
                    </p>
                    <p>
                        Due to Covid-19, many rural and under-resourced individuals like parents, students, teachers, school nurses, and emergency doctors continue to face complex , multi-dimensional issues where confrontation, misinformation, and inclusion prevent hyper-local officials and businesses from finding the best answers to numerous social and economic barriers to equitable education, rethinking career learning, fair lending, social justice, access to telehealth, cliamte change, and reliable infrastructure, among other issues.
                    </p>
                    <p>
                        CCN is an open source project that helps rural and under-resourced citizens, schools, businesses, governments, and community-based organizations solve socio-economic structural problems magnified by the Covid-19 Pandemic through effective civic engagement.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid light-gray-container">
    <div class="row">
        <div class="container inner-container">
            <div class="row text-center">
                <div class="col">
                    <h1>L. E. A.</h1>
                    <br>
                </div>
            </div>
            <div class="row text-center">
                <div class="col">
                    <div class="row"><i class="fas fa-volume-up fa-4x"></i></div>
                    <div class="row"><div class="col dark-box d-flex"><span class="my-auto mx-auto">LISTEN</span></div></div>
                    <div class="row">Actively listen to everyone in the community</div>
                </div>
                <div class="col">
                    <div class="row"><i class="fas fa-running fa-4x"></i></div>
                    <div class="row"><div class="col dark-box d-flex"><span class="my-auto mx-auto">EXECUTE</span></div></div>
                    <div class="row">Take imminent action from informed deliberation</div>
                </div>
                <div class="col">
                    <div class="row"><i class="fas fa-align-justify fa-4x"></i></div>
                    <div class="row"><div class="col dark-box d-flex"><span class="my-auto mx-auto">ALIGN</span></div></div>
                    <div class="row">Align best solutions to common ground and community values</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid black-container">
    <div class="row">
        <div class="container inner-container text-center">
            <div class="row">
                <div class="col">
                    <h1>Vision</h1>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>Cultivating the art of human dignity as an intentional economy.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}