{% extends 'base.html' %}
<!--add logic to base to only show Log In and Sign Up if not logged in?-->

{% block title %}
Users List
{% endblock %}

{% block content %}
<h2>All Users</h2>
<br>

{%if users%}
    {% for user in users %} 
    <div>
        <li class="user" id="{{user.id}}">

            <a href = "/user-profile/{{user.id}}"> <!--this link won't work yet-->
                {{ user.first_name }} {{ user.last_name }}
            </a>
        </li>
    </div>
    {% endfor %}

{% else %}
    <h7>No users here.</h7>
{% endif %} 

{% endblock %}