{% extends 'base.html' %}

{% block title %}
Users List
{% endblock %}

{% block content %}
<h2>All Users</h2>
<br>

<ol>
{%if users%}
    {% for user in users %} 
        <li class="user" id="{{user.id}}">

            <a href = "/user-profile/{{user.id}}">
               
               {%if user.first_name and user.last_name%}
                    {{ user.first_name }} {{ user.last_name }}
                {% else %}
                    {{user.username}}
                {% endif %}
            </a>
        </li>
        {% if current_user.user_type == 'admin' %}
        <form action="{{ url_for('delete_user', user_id=user.id) }}" method="POST">
                {{ form.csrf_token }}
                <input type="hidden" name="delete-user" value="{{ user.id }}"/>
                <button type="submit" id="delete-user">Delete User</button>
        </form>
        {% endif %}
    {% endfor %}

{% else %}
    <h7>No users here.</h7>
{% endif %}
</ol> 

{% endblock %}