<!doctype html>
<html>

<head>
    {% block head %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>{% block title %}{% endblock %} - CoCreation Nation</title>
    {% endblock %}
</head>

<body>
    <nav>
        <ul class="menu">
            <li class="logo"><a href="{{ url_for('index') }}">CoCreation Nation</a></li>
            <li class="item"><a href="#">About</a></li>
            <li class="item has-submenu">
                <a tabindex="0">Events</a>
                <ul class="submenu">
                    <li class="subitem"><a href="{{ url_for('view_events') }}">Upcoming Events</a></li>
                    {% if current_user.user_type == "admin" %}
                    <li class="subitem"><a href="{{ url_for('create_event') }}">Create Event</a></li>
                    {% endif %}
                    <li class="subitem"><a href="{{ url_for('live_event', event_id=1) }}">Join Event</a></li>
                </ul>
            </li>
            <li class="item"><a href="#">Contact</a></li>
            {% if current_user.is_authenticated %}
            <li class="item button secondary"><a href="{{ url_for('logout') }}">Sign Out</a></li>
            {% else %}
            <li class="item button"><a href="{{ url_for('login') }}">Log In</a></li>
            <li class="item button secondary"><a href="{{ url_for('register') }}">Sign Up</a></li>
            {% endif %}
            <li class="toggle"><a href="#"><i class="fas fa-bars"></i></a>
            </li>
        </ul>
    </nav>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        <br>
        &copy; Copyright 2021 by CoCreation Nation</a>.
        {% endblock %}
    </div>
    <script src="{{ url_for('static', filename='nav.js') }}"></script>
</body>

</html>