{% extends "base.html" %}

{% block title %}Create Event{% endblock %}

{% block content %}
<h2>Create Event</h2>
<form method="POST" action="{{ url_for('create_event') }}">
    {{ form.csrf_token }}
    {{ form.title.label }} {{ form.title(size=20) }}
    {{ form.description.label }} {{ form.description() }}
    {{ form.start.label }} {{ form.start() }}
    {{ form.end.label }} {{ form.end() }}
    <p style="line-height:300%"">
        {{ form.tag.label }} {{ form.tag() }}
    </p>
    <p style="line-height:300%">{{ form.attendee_email.label }} {{ form.attendee_email() }}</p>
        <p>
            {{ form.event_id.label }} {{ form.event_id() }}
            {{ form.user_id.label }} {{ form.user_id() }}
            {{ form.zipcode.label }} {{ form.zipcode() }}</p>
        
       
    
    

    <input type="submit" value="Create_Event">
</form>
{% endblock %}