{% extends 'base.html' %}

{% block title %}
My Profile
{% endblock %}

{% block content %}
<!-- <div class="container">
    {% if user.first_name and user.last_name %}
        <h1>Welcome back, {{user.first_name}} {{user_last_name}}!</h1> 
    {% else %}
        <h1>Welcome back, {{user.username}}!</h1> 
    {% endif %}
</div> -->

<br>

<div class="container">
    <h4>Edit Profile</h4>

    <form method="POST" action="/edit-profile/{{user.id}}"> 
        
        <div>
            <label>First Name</label>
            {{ form.first_name(placeholder="First Name") }}
        </div>
        
        <br>
        <h7><b>Pronouns: </b>{{user.pronouns}}</h7>
        <br>
        <h7><b>Email: </b>{{user.email}}</h7>
        <br>
        <h7><b>Phone: </b>{{user.phone_number}}</h7>
        <br>
        <h7><b>Zipcode: </b>{{user.zipcode}}</h7>
        <br>
        <h7><b>Profile Picture</b></h7>

    
        <!--UPLOAD PROFILE PIC HERE-->
        <!-- <input required type = "file" class="form-control-file" accept="image/*" name = "image" id = "file" onchange = "loadFile(event)" style="display": none;"></p> -->
        
        <!--Display user profile pictures here-->
        <!-- <img class="img-thumbnail rounded-start" id="output" width="300" onerror="this.onerror=null; this.remove();"> -->

        <br>
        <br>

        <div>
            <input type="submit" value="Update Profile" id="save">
        </div>

    </form>

</div>

<br>

{% endblock %}