{% extends "base.html" %}

{% block title %}Events{% endblock %}

{% block content %}
<h2>Upcoming Events</h2>
<table>
    <tr>
        <th>Event Name</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>Ending At</th>
    </tr>
    {% for event in events %}
    <script>console.log("{{ event }}")</script>
    <tr>
        <td><a href="{{ url_for('view_event_details', event_id=event.id) }}">{{ event.title }}</a></td>
        <td>{{ event.description }}</td>
        <td>{{ event.start_utc }}</td>
        <td>{{ event.end_utc }}</td>
        <td>
        <form action="/event/{{ event.id }}" method="POST">
            <input type="hidden" name="rsvp" value="{{ event.id }}">
            <button id="rsvp">RSVP</button>
        </form>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}