{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <img class='img-fluid w-100' src="{{ url_for('static', filename='homepage_banner.jpeg') }}"
            alt="Group of people" />
    </div>
</div>
<div class="container">
    <div class="row">
        <h1>Our Mindset: Reckoning + Repairing = Executing In Alignment</h1>
    </div>
    <hr>
    <div class="row">
        <h2>Civic Engagement In Terms Of Economic Development</h2>
    </div>
    <div class="row">
        <div class="col text-center">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe width="560" height="315" class="embed-responsive-item"
                    src="{{ url_for('static', filename='home_video_1.mp4') }}" title="About Us" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <h2>CCN Community Roles and Repsonsibilities</h2>
    </div>
    <div class="row">
        <div class="col">
            <div class="card text-center community-role-card" style="width: 16rem;">
                <img src="{{ url_for('static', filename='missing.jpeg') }}"
                    class="card-img-top mx-auto d-block community-roles-image" alt="picture of person">
                <div class="card-body">
                    <h5 class="card-title">Community members</h5>
                    <p class="card-text">
                        Actively participate in Co-Creation Nation to improve the local community and increase opportunities for their neighbors.
                    </p>
                    <a href="{{ url_for('register') }}" class="btn btn-outline-secondary">I want to become a member</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center community-role-card" style="width: 16rem;">
                <img src="{{ url_for('static', filename='missing.jpeg') }}"
                    class="card-img-top mx-auto d-block community-roles-image" alt="picture of person">
                <div class="card-body">
                    <h5 class="card-title">Community Leaders</h5>
                    <p class="card-text">Activates grassroots civic engagement to target and resolve local issues applying Co-Creation Nation's know-how.</p>
                    <a href="{{ url_for('register') }}" class="btn btn-outline-secondary">I want to become a leader</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center community-role-card" style="width: 16rem;">
                <img src="{{ url_for('static', filename='missing.jpeg') }}"
                    class="card-img-top mx-auto d-block community-roles-image" alt="picture of person">
                <div class="card-body">
                    <h5 class="card-title">Intentional Citizen</h5>
                    <p class="card-text">Intentionally citizens welcome community residents and community leaders to sit at the table for cohesive deliberation about innovative solutions to promote economic development.</p>
                    <a href="{{ url_for('register') }}" class="btn btn-outline-secondary">I want to help</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center community-role-card" style="width: 16rem;">
                <img src="{{ url_for('static', filename='ccn_logo.png') }}"
                    class="card-img-top mx-auto d-block community-roles-image" alt="picture of person">
                <div class="card-body">
                    <h5 class="card-title">Co-Creation Nation</h5>
                    <p class="card-text">Re-imagines Civic Engagement acting as a convener sector partnership hub providing technical assistance and capacity building to community leaders and members.</p>
                    <a href="{{ url_for('register') }}" class="btn btn-outline-secondary">I want to join CCN</a>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <h2>Upcoming Events</h2>
    </div>
    <div class="row">
        <div class="col">
            <div class="card text-center" style="width: 30rem;">
                <img src="{{ url_for('static', filename='event1.png') }}"
                    class="card-img-top mx-auto d-block landing-event-image" alt="picture of people">
                <div class="card-body">
                    <h5 class="card-title">Equitable Access To Rural Health Care Series</h5>
                    <p class="card-text">What happens when you dial 911 and nobody answers in Rural America.</p>
                    <p class="card-text">December 1, 2021</p>
                    <a href="{{ url_for('view_events') }}" class="btn btn-outline-secondary">Sign up</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center" style="width: 30rem;">
                <img src="{{ url_for('static', filename='event2.jpeg') }}"
                    class="card-img-top mx-auto d-block landing-event-image" alt="picture of person">
                <div class="card-body">
                    <h5 class="card-title">Equitable Access To Rural Health Care Series</h5>
                    <p class="card-text">What happens when you dial 911 and nobody answers in Rural America.</p>
                    <p class="card-text">December 17, 2021</p>
                    <a href="{{ url_for('view_events') }}" class="btn btn-outline-secondary">Sign up</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="d-grid gap-2 col-6 mx-auto landing-view-all-events-btn">
            <a href="{{ url_for('view_events') }}" class="btn btn-outline-secondary">View All Events</a>
        </div>
    </div>
    <hr>
    <div class="row">
        <h2>Stories</h2>
    </div>
    <div class="row">
        <div class="col">
            <div class="card text-center" style="width: 30rem;">
                <img src="{{ url_for('static', filename='story1.jpeg') }}"
                    class="card-img-top mx-auto d-block landing-event-image" alt="picture of people">
                <div class="card-body">
                    <h5 class="card-title">Worth The Shot Campaign</h5>
                    <p class="card-text">Covid Campus Coalition</p>
                    <a href="{{ url_for('stories') }}" class="btn btn-outline-secondary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center" style="width: 30rem;">
                <img src="{{ url_for('static', filename='story2.png') }}"
                    class="card-img-top mx-auto d-block landing-event-image" alt="picture of person">
                <div class="card-body">
                    <h5 class="card-title">Teen Town Hall for Rural and Urban Americans</h5>
                    <p class="card-text">Teens for Vaccines</p>
                    <a href="{{ url_for('stories') }}" class="btn btn-outline-secondary">Learn More</a>
                </div>
            </div>
        </div>
    </div>


</div>
{% endblock %}