{% extends "base.html" %}

{% block title %}Resources{% endblock %}

{% block content %}

<div class="container inner-container">
    <div class="row text-center">
        <div class="col">
            <h1>RESOURCES</h1>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 class='text-center'>Downloads</h3>
            <br>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
        <div class="col left-border">
            <h3 class='text-center'>Videos</h3>
            <br>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
        <div class="col left-border">
            <h3 class='text-center'>Graphics</h3>
            <br>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
    </div>
</div>
<div class="container-fluid light-gray-container">
    <div class="row">
        <div class="container inner-container">
            <div class="row text-center">
                <div class="col">
                    <h3>Executing in Alignment</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid dark-container">
    <div class="row">
        <div class="container inner-container">
            <div class="row text-center">
                <h1>VIDEOS</h1>
                <br>
            </div>
            <div class="row text-center">
                <div class="col d-flex">
                    <div class="embed-responsive embed-responsive-4by3 my-auto mx-auto">
                        <iframe class="embed-responsive-item"
                            src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col d-flex">
                    <div class="embed-responsive embed-responsive-4by3 my-auto mx-auto">
                        <iframe class="embed-responsive-item"
                            src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col d-flex">
                    <div class="embed-responsive embed-responsive-4by3 my-auto mx-auto">
                        <iframe class="embed-responsive-item"
                            src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid light-gray-container">
    <div class="row">
        <div class="container inner-container">
            <div class="row text-center">
                <div class="col">
                    <h1>DOWNLOADS</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a class="black-links" href="#">Engaging Your Community: A Begginer's Guide  <i class="fas fa-download"></i></a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a class="black-links" href="#">Surviving a Pandemic With Your Community Intact  <i class="fas fa-download"></i></a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a class="black-links" href="#">Basket Weaving for Dummies  <i class="fas fa-download"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container inner-container">
    <div class="row text-center">
        <div class="col">
            <h1>GRAPHICS</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col light-gray-box d-flex">
                    <a href="#" class="my-auto mx-auto black-links"><h3>infographics</h3></a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col light-gray-box d-flex">
                    <a href="#" class="my-auto mx-auto black-links"><h3>white papers</h3></a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col light-gray-box d-flex">
                    <a href="#" class="my-auto mx-auto black-links"><h3>case studies</h3></a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}