{% extends "base.html" %}

{% block title %}Stories{% endblock %}

{% block content %}

<div class="container-fluid green-container">
    <div class="row">
        <div class="container inner-container">
            <div class="row text-center">
                <div class="col">
                    <h1>Bringing communities together for collective action.</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container inner-container">
    <div class="row">
        <div class="col" style="margin: 20px 120px;">
            <p>
                We at Co-Creation Nation are re-imagining civic engagement as more than just a “trending phrase.”   For us, new civic engagement builds a sense of community and brings people of all backgrounds at the table to deliberate solutions that work for them at the local level.  We don’t just want to hear people’s opinion about what’s wrong, we want them to participate as stewards and advocates in shaping their community’s future. This kind of civic engagement should involve both — the voices historically silent by lack of opportunity, and the influential voices exercised by power brokers.  Reimagining civic engagement is at the core of how communities can and want to reinvent and manage assets that serve everyone — because that’s the way we reach common ground in the first place.  That’s the way, we together can say what we can live with.  It is never about you and I being right or wrong.  It is about you and I being civic about what is best for most of us. 
 
                In our work, we’ve identified promising stories for effective civic engagement. These stories shine a light on how reimagining civic engagement can be both an input and an outcome of investments in our communities — and perhaps most importantly, they can inspire us to heal forward collectively.
            </p>
        </div>
    </div>
    <div class="row gray-box-section">
        <div class="col d-flex">
            <div class="embed-responsive embed-responsive-4by3 my-auto mx-auto">
                <iframe width="560" height="315" class="embed-responsive-item"
                    src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="col">
            <h5>PROBLEM</h5>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <h5>SOLUTION</h5>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <h5>STATUS</h5>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
    </div>
    <div class="row gray-box-section">
        <div class="col">
            <h5>PROBLEM</h5>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <h5>SOLUTION</h5>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <h5>STATUS</h5>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
        <div class="col d-flex">
            <div class="embed-responsive embed-responsive-4by3 my-auto mx-auto">
                <iframe width="560" height="315" class="embed-responsive-item"
                    src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="row gray-box-section">
        <div class="col d-flex">
            <div class="embed-responsive embed-responsive-4by3 my-auto mx-auto">
                <iframe width="560" height="315" class="embed-responsive-item"
                    src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="col">
            <h5>PROBLEM</h5>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <h5>SOLUTION</h5>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <h5>STATUS</h5>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
    </div>
</div>


{% endblock %}