{% extends 'base.html' %}
<!--add logic to base to only show Log In and Sign Up if not logged in?-->

{% block title %}
My Profile
{% endblock %}

{% block content %}
<div class="container">
    <h1>Welcome back, {{user.first_name}}{{user_last_name}}!</h1> 
</div>

<br>

<div class="container">
    <h4>Personal Information</h4>
    <br>
    <h7><b>Name:</b>{{user.first_name}}{{user.last_name}}</h7>
    <br>
    <h7><b>Pronouns:</b>{{user.pronouns}} here</h7>
    <br>
    <h7><b>Email:</b>{{user.email}}</h7>
    <br>
    <h7><b>Phone</b>{{user.phone_number}}</h7>
    <br>
    <h7><b>Zipcode:</b>{{user.zipcode here}}</h7>
    <br>
    <h7><b>Profile Picture</b></h7>
    <input required type="file" accept="image/*" name="image" id="file">
</div>

<br>

<div class="container">
    <button type="click" id="update-profile">Update Profile</button>
</div>

<br>

<!--Could include Events Attended in a second column-->
<div class="container"></div>
     <h4>Events Attended</h4>
</div>

{% endblock %}