{% extends 'base.html' %}

{% block title %}
My Profile
{% endblock %}

{% block content %}
<div class="container">
    {% if user.first_name and user.last_name %}
        <h1>Welcome back, {{user.first_name}} {{user_last_name}}!</h1> 
    {% else %}
        <h1>Welcome back, {{user.username}}!</h1> 
    {% endif %}
</div>

<br>

<div class="container">
    <h4>Personal Information</h4>
    <br>
    <h7><b>Name: </b>{{user.first_name}} {{user.last_name}}</h7>
    <br>
    <h7><b>Pronouns: </b>{{user.pronouns}}</h7>
    <br>
    <h7><b>Email: </b>{{user.email}}</h7>
    <br>
    <h7><b>Phone: </b>{{user.phone_number}}</h7>
    <br>
    <h7><b>Zipcode: </b>{{user.zipcode}}</h7>
    <br>
    <h7><b>Profile Picture</b></h7>

   
    <!--UPLOAD PROFILE PIC HERE-->
    <input required type = "file" class="form-control-file" accept="image/*" name = "image" id = "file" onchange = "loadFile(event)" style="display": none;"></p>
    
    <!--Display user profile pictures here-->
    <img class="img-thumbnail rounded-start" id="output" width="300" onerror="this.onerror=null; this.remove();">

</div>

<br>
<!--Only allow user to edit profile if they are viewing their own page-->
{% if user == user_in_session %}
    <div class="container">
        <button type="click" id="update-profile">Edit Profile</button>
    </div>
{% endif %}

<br>

<!--List of Past Events Attended-->
<div class="container"></div>
     <h4>Events Attended</h4>
     <br>
     {% if events %} 
        {% for event in events %} 

            <td><a href="{{ url_for('view_event_details', event_id=event.id) }}">{{ event.title }}</a></td>
            <td>{{ event.description }}</td>
            <td>{{ event.start_utc }}</td>
            <td>{{ event.end_utc }}</td>
            <br>

        {% endfor %}

    {% else %} 
        <h7>This user hasn't attended any events yet.</h7>
     {% endif %}


</div>

{% endblock %}