
/* Landing Page */
.username-nav-button {
    border-radius: 50%;
    width: 2.5em;
    background-color: #bfbfbf;
    border-color: #424242;
}

.community-roles-image {
    border-radius: 50%;
    width: 60%;
    margin-top: 10%;
    height: 153px;
}

.community-role-card {
    height: 420px;
}

.landing-event-image {
    height: 300px;
}

.landing-view-all-events-btn {
    margin-top: 2em;
}
