
/* Landing Page */
.username-nav-button {
    border-radius: 50%;
    width: 2.5em;
    background-color: #bfbfbf;
    border-color: #424242;
}

.community-roles-image {
    border-radius: 50%;
    width: 60%;
    margin-top: 10%;
    height: 153px;
}

.community-role-card {
    height: 420px;
}

.landing-event-image {
    height: 300px;
}

.landing-view-all-events-btn {
    margin-top: 2em;
}

.event-image {
    height: 300px;
}

.event-card {
    height: 500px;
    width: 22rem;
}

.event-card-title {
    color: #858585;
}

.event-search {
    margin-top: 20px;
}

.event-filter-button {
    color: #5c5c5c;
    text-decoration: none;
}

.dark-container {
    background-color: #3b3b3b;
    color: white;
}

.dark-container > .col {
    padding-left: 40px ;
}

.off-white-container {
    background-color: #fffeed;
}

.light-gray-container {
    background-color: #c7c7c7;
}

.black-container {
    background-color: #171717;
    color: white;
}

.inner-container {
    max-width: 1200px;
    padding: 80px;
}

.dark-box {
    background-color: #7d7d7d;
    color: white;
    font-size: 1.4em;
    margin: 20px 20%;
    height: 150px;
}